In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [7]:
df = pd.read_csv('../../USA_Housing.csv')

In [8]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [9]:
list(df.columns)

['Avg. Area Income',
 'Avg. Area House Age',
 'Avg. Area Number of Rooms',
 'Avg. Area Number of Bedrooms',
 'Area Population',
 'Price',
 'Address']

In [10]:
x_list = ['Avg. Area Income','Avg. Area House Age','Avg. Area Number of Rooms','Avg. Area Number of Bedrooms','Area Population']

In [11]:
X = df[['Avg. Area Income','Avg. Area House Age','Avg. Area Number of Rooms','Avg. Area Number of Bedrooms','Area Population']]
y = df['Price']

In [12]:
X_np = np.array(X, dtype=np.float32)
y_np = np.array(y, dtype=np.float32)
print(X_np.shape)
print(y_np.shape)

(5000, 5)
(5000,)

In [13]:
y_np = y_np.reshape(-1, 1)
y_np.shape

(5000, 1)

In [14]:
from sklearn import preprocessing

standard_scaler = preprocessing.StandardScaler()
X_scaled = standard_scaler.fit_transform(X_np)
y_scaled = standard_scaler.fit_transform(y_np)

In [15]:
for i in x_list:
    print(i)
    X[i]=X[i].astype(float)

Avg. Area Income
Avg. Area House Age
Avg. Area Number of Rooms
Avg. Area Number of Bedrooms
Area Population

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y_scaled, test_size=0.3, random_state=101)

In [17]:
X_train_np = np.array(X_train, dtype=np.float32)
X_test_np = np.array(X_test, dtype=np.float32)
print(X_train_np.shape)
print(X_test_np.shape)

(3500, 5)
(1500, 5)

In [18]:
y_train_np = np.array(y_train, dtype=np.float32)
y_test_np = np.array(y_test, dtype=np.float32)
print(y_train_np.shape)
print(y_test_np.shape)

(3500, 1)
(1500, 1)

In [19]:
# IMPORTANT: 2D required
y_train_np = y_train_np.reshape(-1, 1)
print(y_train_np.shape)
y_test_np = y_test_np.reshape(-1, 1)
print(y_test_np.shape)

(3500, 1)
(1500, 1)

In [20]:
import torch
import torch.nn as nn

In [21]:
# Create class
class LinearRegressionModel(nn.Module):
    def __init__(self, input_dim, output_dim):
        super(LinearRegressionModel, self).__init__()
        self.linear = nn.Linear(input_dim, output_dim)  
    
    def forward(self, x):
        out = self.linear(x)
        return out

# INSTANTIATE MODEL CLASS

In [22]:
input_dim = 5
output_dim = 1

model = LinearRegressionModel(input_dim, output_dim)

# Pass data to GPU

In [23]:
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
model.to(device)

LinearRegressionModel(
  (linear): Linear(in_features=5, out_features=1, bias=True)
)

# INSTANTIATE LOSS CLASS

In [26]:
criterion = nn.MSELoss()

# INSTANTIATE OPTIMIZER CLASS

In [27]:
learning_rate = 0.01

optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate) # try Adam?

# TRAIN THE MODEL

In [28]:
epochs = 10000
for epoch in range(epochs):
    epoch += 1
    # Convert numpy array to torch Variable
    inputs = torch.from_numpy(X_train_np).to(device)
    labels = torch.from_numpy(y_train_np).to(device)
    
    # Clear gradients w.r.t. parameters
    optimizer.zero_grad() 
    
    # Forward to get output
    outputs = model(inputs)
    
    # Calculate Loss
    loss = criterion(outputs, labels)
    
    # Getting gradients w.r.t. parameters
    loss.backward()
    
    # Updating parameters
    optimizer.step()
    
    # Logging
print('epoch {}, loss {}'.format(epoch, loss.item()))

epoch 10000, loss 0.08216972649097443

# What does it look like using OLS?

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [30]:
lm = LinearRegression()
lm.fit(X_train_np,y_train_np)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [31]:
sklearn_preds = lm.predict(X_test_np)

In [32]:
print('MSE:', mean_squared_error(y_test_np, sklearn_preds))

MSE: 0.08157023

**After 10k epochs gradient descent obtained an MSE of .0822 and OLS obtained an MSE of .0816**

As you can see gradient descent can very quickly come extremely close to approximating the close-formed solution obtained by OLS.